{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;
	background: red;
}
.personal-link{
	display: block;
}