{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 65%;
	border-radius: 50%;
	padding: 24px;
	 
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;
	background: lightgray;
	display: flex;
}
.personal{
	display: block;
	padding: 10px;
}
.asdan{
	padding: 10px;
	border-bottom: 2px solid;
	display: block;

}
.left{
	background: lightslategrey;
	width: 300px;
	
}
.right{
	padding: 15px;
	margin: 0px;
	display: block;
	width: 600px;
	border-bottom: solid #f8f9fa;
	font-size: 125%;
	font: b;

}
.answer{
	display: block;
	margin: 18px;
	padding: 6px;
	font-size: 90%;
	font: caption;

}
